body {
    background: #f0f0f0;
    color: #000;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: medium;
    font-weight: normal;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #039;
    outline: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #03c;
    text-decoration: underline;
}

.pageheading {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #039;
    height: 30px;
}

.pagebottom {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: #039;
    height: 40px;
}

.main {
    background: #fff;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: #ccc;
}

.dummy {
    display: none;
}

p {
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight: 400;
    margin: 6px 20px 12px 20px;
}

li {
    font-size: 1.0em;
    line-height: 1.2em;
    margin: 16px 0px 16px 0px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em;
    font-weight: 600;
    margin: 20px 0px 10px 20px;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 8px;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    border-bottom: #03c 3px solid;
    padding-bottom: 6px;
    display: inline-block;
}

h3 {
    font-size: 1.25em;
    border-bottom: #03c 2px solid;
    display: inline-block;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}
